<header class="page-header">
  <h1>HazardTypes</h1>
</header>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newHazardTypesPath() %>" class="btn btn-primary">Create New HazardType</a></li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Label</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= for (hazardType) in hazardTypes { %>
      <tr>
        <td>
          <%= hazardType.Label %>
        </td>
        <td>
          <%= hazardType.Description %>
        </td>
        <td>
          <div class="pull-right">
            <a href="<%= hazardTypePath({ hazard_type_id: hazardType.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editHazardTypePath({ hazard_type_id: hazardType.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= hazardTypePath({ hazard_type_id: hazardType.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <div class="text-center">
    <%= paginator(pagination) %>
  </div>
