<header class="page-header">
  <h1>HazardType#Show</h1>
  <dl>
    <dt>Name</dt>
    <dd>
      <%= hazardType.Label %>
    </dd>
    <dt>Beschreibung</dt>
    <dd>
      <%= hazardType.Description %>
    </dd>
  </dl>
</header>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= hazardTypesPath() %>" class="btn btn-info">Back to all HazardTypes</a></li>
  <li class="list-inline-item"><a href="<%= editHazardTypePath({ hazard_type_id: hazardType.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= hazardTypePath({ hazard_type_id: hazardType.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

