// Page layout
body,
html {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}

.page-container {
  display: flex;
  height: 100vh;
}

// Maps
#main-map {
  height: 100vh;
}

#location-select-map {
  height: 50vh;
  max-width: 650px;
  width: 50vw;
}

// Sidebar
.branding {
  flex: 0;
  font-size: 2rem;
  margin: 0.6rem 0 1rem;
  text-align: center;
}

.branding-image {
  width: 100%;
}

.sidebar {
  align-items: center;
  background: #16211f;
  color: #eeeeee;
  max-width: 17rem;
  padding: 1rem 2rem;
  width: 10vw;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.main-menu {
    font-size: 1.2em;
    margin-top: 3rem;

    ul {
        list-style: none;
        padding: 0;
    }
}

.menu-item {
    a {
        border-top: 1px solid skyblue;
        display: block;
        padding: 1.7rem 0;
        text-align: center;

        &:hover {
            background: rgba($color: #258585, $alpha: 0.5)
        }
    }
}

.auth {
  text-align: right;
}

// Content
.main-content {
  position: relative;
  width: 100%;
  z-index: 0;
}

table {
  th {
    text-align: left;
  }
}

// Popups
.popup-heading {
  font-size: 1.8em;
  margin: 0.3rem 0;
}

.leaflet-popup-content {
  .popup-info {
    p {
      font-size: 1.3em;
      margin: 0.25rem 0;
    }
  }
}
