<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Schutzstreifen</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
  </head>
  <body>
    <header class="topbar">
      <h1 class="branding"><a href="/">Schutzstreifen</a></h1>

      <div class="auth">
          <%= if (current_user) { %>
            <h1><%= current_user.Email %></h1>
            <a href="/logout" data-method="delete">abmelden</a>
          <% } else { %>
            <a href="/login" class="btn btn-primary">anmelden</a>
            <a href="/users/new" class="btn btn-success">registrieren</a>
          <% } %>
      </div>
    </header>
    <%= yield %>
    <%= javascriptTag("application.js") %>
  </body>
</html>
